@if(loading){
  <div>
    <app-progress-bar></app-progress-bar>
  </div>
}@else{
<div class="container ms-auto">
  <div class="title">
    <h2 class="">Crud de Personas</h2>
    <button class="btn btn-primary" [routerLink]="['/agregar']">AGREGAR PERSONAS</button>
  </div>
  <div class="container-table mt-3">
    @if(listaCrud.length > 0 ){
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Telefono</th>
          <th scope="col">Localizacion</th>
          <th scope="col">Hobby</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (crud of listaCrud;track crud.id) {
        <tr class="table-active">
          <td>{{crud.id}}</td>
          <td>{{crud.nombre}}</td>
          <td>{{crud.apellido}}</td>
          <td>{{crud.email}}</td>
          <td>{{crud.telefono}}</td>
          <td>{{crud.localizacion}}</td>
          <td>{{crud.hobby}}</td>
          <td class="container-button mt-3">
            <button type="button" class="btn btn-info btn-sm ms-2" [routerLink]="['/editar', crud.id]">Editar </button>
            <button type="button" (click)="borrarPersona(crud.id!)" class="btn btn-secondary btn-sm ms-2">Borrar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
    @if(listaCrud.length == 0){
      <div>
        <h2 class="text-center">No hay personas registradas</h2>
      </div>
    }
  </div>

</div>

}

