<div class="container mt-3 text-center">
    <div class="row mb-3">
        <h1 class="text-center mb-3">Progreso de ventas del año 2023</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p> Podrás ver el progreso de las ventas de 2023, con una línea para ver la tendencia mensual y barras para comparar las ventas de cada mes. De esta forma, podrás analizar fácilmente el rendimiento anual de tu empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card m-3">
                <h2 class="card-title text-center"> Gráfico de lineas</h2>
                <canvas id="chartLine">{{chartLine}}</canvas>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card m-3">
                <h2 class="card-title text-center"> Gráfico de barras</h2>
                <canvas id="chartBar">{{chartBar}}</canvas>
            </div>
        </div>

    </div>
</div>