<div class="container-app">
  <div class="side-bar">
    <div class="row m-3 text-center">
      <h1 class=" title text-center mb-3">{{title}}</h1>
    </div>

    <div class="row m-3">
      <div class="col-md-12 justify-content-justify">
        <p> Este calendario te permite gestionar tus eventos y reuniones de manera sencilla. Puedes agregar, editar o
          eliminar citas directamente en las fechas correspondientes, lo que te ayudará a organizar tu tiempo de forma
          eficiente. Además, podrás visualizar tus compromisos de manera clara y ordenada, asegurando que nunca pierdas
          una cita importante.</p>
      </div>
    </div>
  </div>

  <div class="side-bar-main">
    <div class="card card-calendar">
      <full-calendar [options]="calendarOptions()" [events]="eventos" [deepChangeDetection]="true"></full-calendar>
    </div>
  </div>

</div>


<!-- Modal para opciones de evento -->
<ng-template #eventoModal let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="eventoModalLabel">{{editado ? 'Editar Evento': 'Agregar Evento'}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formModal">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input id="titulo" type="text" class="form-control" formControlName="titulo" />
        </div>
        <div class="mb-3">
          <label for="inicio" class="form-label">Fecha de Inicio</label>
          <input id="inicio" type="date" class="form-control" formControlName="inicio" />
        </div>
        <div class="mb-3">
          <label for="fin" class="form-label">Fecha de Fin</label>
          <input id="fin" type="date" class="form-control" formControlName="fin" />
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
        </div>
        <label for="exampleColorInput" class="form-label">Escoge el color</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" formControlName="color" value="#1a6363" title="Choose your color">
      </form>
    </div>
    <div class="modal-footer">
   <button type="button" class="btn btn-primary" (click)="generarEvento()">{{editado ? 'Actualizar evento' : 'Crear Evento'}}</button>
 <button type="button" class="btn btn-danger" (click)="abrirconfirmacion()">Eliminar evento</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    </div>
  </div>
</ng-template>


<!-- Modal de confirmación -->
<ng-template #confirmacionModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmación de eliminación</h5>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas eliminar este evento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="borrarEvento()">Eliminar</button>
  </div>
</ng-template>