<div class="container">
<h2 class="text-center m-3">{{title}}</h2>

<full-calendar [options]="calendarOptions()" [events]="eventos"  [deepChangeDetection]="true"></full-calendar>

<!-- Modal para opciones de evento -->
<div class="modal fade" id="eventoModal" tabindex="-1" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventoModalLabel">Opciones de Evento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Qué te gustaría hacer con el evento "<span id="eventoTitulo"></span>"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="borrarEvento()">Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="actualizarEvento()">Actualizar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
