<div class="container-app">
  <div class="side-bar">
    <div class="row m-3 text-center">
      <h1 class=" title text-center mb-3">{{title}}</h1>
    </div>

    <div class="row m-3">
      <div class="col-md-12 justify-content-justify">
        <p> Este calendario te permite gestionar tus eventos y reuniones de manera sencilla. Puedes agregar, editar o
          eliminar citas directamente en las fechas correspondientes, lo que te ayudará a organizar tu tiempo de forma
          eficiente. Además, podrás visualizar tus compromisos de manera clara y ordenada, asegurando que nunca pierdas
          una cita importante.</p>
      </div>
    </div>
  </div>

  <div class="side-bar-main">
    <div class="card card-calendar">
      <full-calendar [options]="calendarOptions()" [events]="eventos" [deepChangeDetection]="true"></full-calendar>
    </div>
  </div>

</div>


<!-- Modal para opciones de evento -->
<ng-template #eventoModal let-modal>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventoModalLabel">Opciones de Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <p>¿Qué te gustaría hacer con el evento "<span id="eventoTitulo">{{eventoSeleccionado?.event?.title}}</span>"?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="borrarEvento()">Eliminar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarEvento()">Actualizar</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
      </div>
    </div>
</ng-template>