<nav class="navbar navbar-expand-lg" data-bs-theme="">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IT ACADEMY</a>
  </div>
  <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">
    <a class="nav-link active" [routerLink]="['/']">Home</a>
    <a class="nav-link" [routerLink]="['personas']">CRUD</a>
    <a class="nav-link" [routerLink]="['mapa']">Mapas</a>
    <a class="nav-link" [routerLink]="['grafico']">Gráficos</a>
    <a class="nav-link" [routerLink]="['calendario']">Eventos</a>
  </div>
</nav>